extends layouts/main.pug
include mixins/videoBlock.pug

block content
    .videos
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
                decription:item.description,
                views:item.views,
                videoFile:item.fileUrl
            })